/****   imports     ****/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');     /* Reference it as 'Open Sans' */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');          /* Reference it as 'Lora' */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');    /* Reference it as 'Montserrat' */



/***    Reset Default CSS   ***/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

input:focus, textarea:focus, select:focus, input:after{
    outline: none;
}


/*** Implementation of Styling for Spread the News Website ***/


/***    Website Typeface/Typography    ***/ 

/* Notes:                                                     

        - Classes that have "xxxxx-tf" refers to typeface/font  

        - Class will be joined with header tags, but using class name is preferable as header tags are not always used

        - Most about font styling will be specified here, anything outside is are minor changes to the default ones

*/

.grid-wrapper{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 2rem;
}


.h-tf{      /* For Headers */
    font-family: "Lora", Arial, sans-serif;
    font-size: 1.25em; 
    color: black ;
    font-style: normal;
    font-variant: small-caps ;
    font-weight: normal;

    line-height: 2.5;          /* Vertical Spacing - spacing between different lines */
    letter-spacing: 0.155em;       /* Horizontal Spacing - spacing between letters */

}

.sh-tf{      /* For Sub-Heading */
    font-family: ;
    font-size: ; 
    color: ;
    font-style: ;
    font-variant: ;
    font-weight: ;

    line-height: ;          /* Vertical Spacing - spacing between different lines */
    letter-spacing: ;       /* Horizontal Spacing - spacing between letters */
}

.n-tf{      /* For Normal Text */
    font-family: 'Montserrat';
    font-size: 0.65em; 
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;

    line-height: 1.5;          /* Vertical Spacing - spacing between different lines */
    letter-spacing: 0.06em;       /* Horizontal Spacing - spacing between letters */
}

.e-tf{      /* For Extra parts that are of small font */
    font-family: "Open Sans";
    font-size: 0.4em; 
    color: black;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;

    line-height: 1.5;          /* Vertical Spacing - spacing between different lines */
    letter-spacing: 0;       /* Horizontal Spacing - spacing between letters */
}

.navbar-tf{
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 0.7em; 
    color: white;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;

    line-height: 1;          /* Vertical Spacing - spacing between different lines */
    letter-spacing: 0.08em;       /* Horizontal Spacing - spacing between letters */
}





/* font-family:Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    color:white;*/


/* 
    font-family: ;
    font-size: ; 
    color: ;
    font-style: ;
    font-variant: ;
    font-weight: ;

    line-height: ;           Vertical Spacing - spacing between different lines 
    letter-spacing: ;        Horizontal Spacing - spacing between letters  */






/*** Global/General Styling ***/

.grid-wrapper{      
    /* General Properties */
    background-color: #f8f8f8;
    position: relative; /* Helps to position the the footer div to the bottom*/

    /* Grid Layout Properties */
    display: grid;

    grid-template-areas: "Header Header Header"
                         "  .     Main    .   "
                         "Footer Footer Footer";

    grid-gap: 50px 10px;
    grid-template-columns: 0.75fr 5fr 0.75fr;
    grid-template-rows: auto;
    
}






/*** The website is broken down into Header, Main and Footer Grid ***/

    /*** Header Section ***/


.header-container{
    /* General properties */
    background-image: linear-gradient(
        to bottom,
        rgb(17, 17, 17) 70%, 
        #f8f8f8 5%
        );


    /* Outer Grid Layout Properties */
    grid-area: Header;

    /* Inner Grid Layout Properties */
    display:grid;

    grid-template-areas: "  .    Logo      NavBar    . "
                         "  .  PageIntro  PageIntro  . ";

    grid-gap: 100px 10px;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 20vh 60vh;


}


.logo{      
    /* Following properties are temporary while I finish the Logo */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    color: white;
    width: 20%;

    /* General Properties */


    /* Grid Properties */
    grid-area: Logo;
    justify-self: start;
    align-self: end;
    
}

.navbar{
    /* General Properties */
    margin: 0 30px;

    /* Grid Properties */
    grid-area: NavBar;
    justify-self: end;
    align-self: end;

    /* Flex Properties */
    display: flex; 
    justify-content: space-around;

}

.navbar-item{
    /* General Properties */
    text-decoration: none;
    margin: 0 30px;
}


.page-intro{
    /* General Properties */
    background-color: #3399FF;
    position: relative;

    /* Outer Grid Properties */
    grid-area: PageIntro;


}



    /*** Main Section ***/

    /*** Main section is split up Detector and News ***/

.main-container{
    /* General properties */
    background-color: inherit;

    /* Outer Grid Layout Properties */
    grid-area: Main;

    /* Inner Grid Properties*/
    display: grid;
    
    grid-template-areas: " Detector "
                         "   News   ";

    grid-gap: 50px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
}


    /*** Detector Section (parent: Main) ***/

.detector-section{
    /* General Properties */
    background-color:white;

    /* Grid Properties*/
    grid-area: Detector;

    /* Flex Properties */
    display: flex;
    flex-direction: column;

}

.search-bar-heading{
    text-align: center;
}

.search-bar{
    /* General Properties */
    width:100%;
    padding-bottom:25px;
    
    /* Flex Properties */
    display: flex;
    justify-content: center;
    
}

#detector-field{
    /* General Properties */
    padding:0;
    margin: 0; 
    width:35%;
    height: 55px;

    /* Merging text-field and button */
    background-color: rgb(255,255,255);

    border-top: 3px solid rgb(184,184,184);
    border-bottom: 3px solid rgb(184,184,184);
    border-right: none;
    border-left: 3px solid rgb(184,184,184);

    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px;
}

#detector-field[type="url"] {
    padding-left: 30px;
}

#detector-submit{
    /* General Properties */
    padding: 0;
    margin: 0;
    width:10%;
    height: 61px;
    cursor: pointer;    

    /* Merging text-field and button */
    background-color: rgb(255,255,255);

    border-top: 3px solid rgb(184,184,184);
    border-bottom: 3px solid rgb(184,184,184);
    border-right: 3px solid rgb(184,184,184);
    border-left: none;

    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
}

.detector-response{
    /* General Properties */
    width: 100%;

    /* Flex Properties */
    display: flex;
    flex-direction: column;
}

.each-news-response{
    /* General Properties */
    width: inherit;
    padding-bottom: 45px;


    /* Grid Properties */
    display: grid;

    grid-template-areas: " NewsContent NewsPrediction ";

    grid-gap: 30px 50px;
    grid-template-columns: 1.75fr 1fr;

}

.news-content-container{
    /* General Properties */
    padding-left: 40px;
    padding-bottom: 30px;
    height: 250px;

    text-overflow: ellipsis;
    overflow: hidden;

}

.news-content-container:hover{
    /* Scroll Bar Styling */
    overflow-y: scroll;

}
        

.resp-url{
    /* General Properties */
    color:#0000EE;
    font-size: 0.45em;
    padding-bottom:10px;


   
    
    
}

.resp-news-title{
    /* General Properties */
    font-weight: bold;
    font-size: 0.8em;


    padding-bottom: 15px;

    
    
}

.resp-news-text{
    /* General Properties */


    
}

.resp-prediction{
    /* General Properties */
 

    /* Flex Properties */


}





/*** News Section (parent: Main) ***/
.news-section{
    /* General Properties */
    background-color:white;

    /* Outer Grid Properties*/
    grid-area: News;

    /* Inner Grid Properties*/
    display: grid;
    grid-gap: 80px 10px;
    grid-template-areas:"  Today-News  "
                        "  Search-News ";
}


/*** Today News Section (parent: News) ***/
.today-news-section{
    grid-area: Today-News;
}

.newsfeed{
    /* Grid Properties */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    align-content: stretch;
    justify-content: space-between;
    align-items: end;
    justify-items: center;
}

.news-title{
    /* General Properties */
    padding: 50px 50px;
}

.per-news{  
    width: 400px;
}

/*** Search News Section (parent: News) ***/
.search-news-section{
    grid-area: Search-News;
}


    /*** Footer Section ***/

.footer-container{
    /* General properties */
    background-color: rgb(40,48,71);
    width:100%;
    position:absolute;
    bottom: 0;

    /* Grid Layout Properties */
    grid-area: Footer;

}
