/* Reset Default CSS*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}


/*** Implementation of Styling for Spread the News Website ***/


/****   Notes   ****/
/*

GC # => Grid Container (grid)
GI # => Grid Item (grid)

FC # => Flex Container (flexbox)
FI # => Flex Item (felxbox)

- GC, GI, FC and FI are for you to identify the types of layout and who is the container (parent)
  and who are the items (child)
- The number that follows is to identify which pair corresponds with each other

*/



.grid-wrapper{       /* GC 1 */
    /* General properties */
    background-color: #f2f2f2;
    font-family: 'Open Sans';
    font-size: 1.8rem;

    /* Grid Layout Properties */
    display: grid;
    grid-gap: 150px 10px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20vh 100vh ;
    grid-template-areas: "Header Header Header"
                         ". Main .";
}


.header-container{
    /* General properties */

    /* Grid Layout Properties */
    grid-area: Header;
}


.logo{
    /* Following properties are temporary while I finish the Logo */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: "black";
    padding: 20px 20px;
    margin: auto;
    width: 50%;

}


.main-container{
    /* General properties */
    background-color: #ffffff ;

    /* Grid Layout Properties */
    grid-area: Main;

    /*Grid Properties*/
    display: grid;
    grid-gap: 80px 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "Detector"
                         "Latest";
}

.detector-section{
    background-color:red;

    /* Grid Properties*/
    grid-area: Detector;
}

.latest-news-section{
    background-color:yellow;

    /* Grid Properties*/
    grid-area: Latest;
}

.per-news{
    background-color: blue;
    padding: 100px;
    color: orange;
}


