{% extends "website/base.html" %}

{% block title %} {{ title }} {% endblock title%}


{% block header-content %}
<div class="page-intro">

</div>
{% endblock header-content%}


{% block main-content %}

<!-- Detector -->
<div class="detector-section">
    <h1 class="detector-h1">Automatic News Checker</h1>
    <div class="detector">
        {% include 'website/snippets/detector.html' %}
    </div>
    <div id="detector-response">
        <!-- JS goes to HERE-->

        <!-- The following div is just temporary for styling reasons -->


        <a class="btn-previous" onclick="plusSlides(-1)">&#10094;</a>
        <a class="btn-next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>


<!-- News Feed -->
<div class="news-section">
    <div class="today-news-section">
        <h1 class="news-h1">Today's Stories</h1>
        <div class="newsfeed">
            {% include 'website/snippets/newsfeed.html' %}
        </div>
    </div>
    <div class="search-new-section">
        <h1 class="news-h1">Search News</h1>
        <div class="newsfeed">

        </div>
    </div>
</div>

{% endblock main-content %}