/* Reset Default CSS*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}


/*** Implementation of Styling for Spread the News Website ***/


/****   Notes   ****/




/*** Global/General Styling ***/

.grid-wrapper{      
    /* General properties */
    background-color: #f2f2f2;
    font-family: 'Open Sans';
    font-size: 1.8rem;

    /* Grid Layout Properties */
    display: grid;
    grid-gap: 150px 10px;
    
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 50vh 50vh 50vh;
    
    grid-template-areas: "Header Header Header"
                         ". Main ."
                         "Footer Footer Footer";
}


/*** The website is broken down into Header, Main and Footer Grid ***/

    /*** Header Section ***/


.header-container{
    /* General properties */
    background-color: yellow;

    /* Grid Layout Properties */
    grid-area: Header;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}


.logo{
    /* Following properties are temporary while I finish the Logo */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: black;
    padding: 20px 20px;
    margin: auto;
    width: 50%;

}


    /*** Main Section ***/

    /*** Main section is split up Detector and News ***/

.main-container{
    /* General properties */
    background-color: blue;

    /* Outer Grid Layout Properties */
    grid-area: Main;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;


    /* Inner Grid Properties*/
    display: grid;
    grid-gap: 80px 10px;
    grid-template-areas: "Detector"
                         "News";
}


      /*** Detector Section (parent: Main) ***/

  .detector-section{
          /* Grid Properties*/
          grid-area: Detector;
  }


    /*** News Section (parent: Main) ***/
  .news-section{

      /* Outer Grid Properties*/
      grid-area: News;

      /* Inner Grid Properties*/
      display: grid;
      grid-gap: 80px 10px;
      grid-template-areas: "Highlight-News"
                           "Search";
  }

  /*** Highlight Section (parent: News) ***/
    .highlight-section{
        grid-area: Highlight-News;
    }

    .per-news{  
        color: orange;
    }

  /*** News Section (parent: News) ***/
    .highlight-section{
        grid-area: Search;
    }

    .search-section{

    }


    /*** Footer Section ***/

.footer-container{
    /* General properties */
    background-color: red;

    /* Grid Layout Properties */
    grid-area: Footer;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
